# Final code

In [1]:
import pandas as pd

In [33]:
base_df = pd.read_csv(r"C:\Users\hp\Documents\GitHub\HEC_DS_Challenge\Ashraf\Pivot Processing\Output\Users_Lang_Skills.csv")

In [34]:
base_df.columns

Index(['USER_ID', 'LAST_NAME', 'FIRST_NAME', 'ANNEES_XP', 'Airbyte_level',
       'Alteryx Analytics Hub_level', 'Alteryx Designer_level',
       'Amazon AWS CloudFormation_level', 'Amazon AWS Glue_level',
       'Amazon QuickSight_level',
       ...
       'Teradata Vantage_level', 'Terraform_level', 'VBA_level',
       'Vena Close_level',
       'Vena Solutions Budgeting, Planning & Forecasting_level',
       'Workday Adaptive Planning_level', 'Workiva_level',
       'insightsoftware Longview Planning_level', 'English_level',
       'French_level'],
      dtype='object', length=139)

In [35]:
exclude_columns = ['USER_ID','LAST_NAME','FIRST_NAME','ANNEES_XP','English_level','French_level']

In [36]:
# Apply transformation to all columns except those in exclude_columns
base_df.columns = [
    col.replace('_level', '').lower() if col not in exclude_columns else col
    for col in base_df.columns
]

In [37]:
base_df.head()

,USER_ID,LAST_NAME,FIRST_NAME,ANNEES_XP,airbyte,alteryx analytics hub,alteryx designer,amazon aws cloudformation,amazon aws glue,amazon quicksight,...,teradata vantage,terraform,vba,vena close,"vena solutions budgeting, planning & forecasting",workday adaptive planning,workiva,insightsoftware longview planning,English_level,French_level
0,2843838,Ramos,David,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0
1,2479537,Small,Carl,2.5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,90.0,100.0
2,2533337,Evans,Carmen,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50.0,100.0
3,2446382,Pittman,Brandi,2.5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60.0,100.0
4,2433124,Thomas,Julie,2.5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0

In [38]:
selected_job = 'Data Engineer'

In [39]:
import pandas as pd

# Define the base path and job name
base_path = r"C:\Users\hp\Documents\GitHub\HEC_DS_Challenge\Ashraf\Mapping\Output"
job_name = 'data_analyst_scores'

# Construct the full file path safely
file_path = f"{base_path}\\{job_name}.csv"

# Read the CSV file
try:
    data_analyst_df = pd.read_csv(file_path)
    print(f"Successfully loaded data from: {file_path}")
except FileNotFoundError:
    print(f"Error: File not found at {file_path}")
except Exception as e:
    print(f"Error reading file: {e}")

Successfully loaded data from: C:\Users\hp\Documents\GitHub\HEC_DS_Challenge\Ashraf\Mapping\Output\data_analyst_scores.csv

In [40]:
exclude_columns_1 = ['USER_ID']

In [41]:
data_analyst_df.head()

,USER_ID,weight_required_skills,weight_preferred_skills,weight_language,req_SQL_score,req_Microsoft Power BI_score,req_Databricks_score,req_DAX_score,req_Matillion ETL_score,lang_English_score,lang_French_score,pref_Cloudera Data Platform_score
0,2843838,13,1,6,150.0,0.0,0.0,0.0,0.0,300.0,300.0,0.0
1,2479537,13,1,6,0.0,0.0,0.0,0.0,0.0,270.0,300.0,0.0
2,2533337,13,1,6,150.0,0.0,0.0,40.0,0.0,150.0,300.0,0.0
3,2446382,13,1,6,240.0,240.0,0.0,0.0,0.0,180.0,300.0,0.0
4,2433124,13,1,6,0.0,0.0,0.0,0.0,0.0,300.0,300.0,0.0

In [42]:
import pandas as pd

# Assuming your DataFrame is named 'df'
columns = data_analyst_df.columns
always_list = ['USER_ID']
req_list = [col for col in columns if col.startswith('req_')] + ['weight_required_skills']
pref_list = [col for col in columns if col.startswith('pref_')] + ['weight_preferred_skills']
weights_list = ['weight_required_skills', 'weight_preferred_skills','weight_language']
lang_list = [col for col in columns if col.startswith('lang_')] + ['weight_language']

# Normalized Language Score

In [43]:
# Step 1: Identify all language score columns (starting with 'lang_' and ending with '_score')
lang_score_columns = [col for col in data_analyst_df.columns 
                     if col.startswith('lang_') and col.endswith('_score')]

# Step 2: Calculate normalized language score
data_analyst_df['normalized_lang_score'] = (
    data_analyst_df[lang_score_columns].sum(axis=1) / 
    data_analyst_df['weight_language']
)

# Optional: Round to 2 decimal places
data_analyst_df['normalized_lang_score'] = data_analyst_df['normalized_lang_score'].round(1)

# Normalized Required score

In [44]:
# Step 1: Identify all req_*_score columns
req_score_columns = [col for col in data_analyst_df.columns 
                     if col.startswith('req_') and col.endswith('_score')]

# Step 2: Sum the req_*_scores for each row and divide by weight_required_skills
data_analyst_df['normalized_req_score'] = (
    data_analyst_df[req_score_columns].sum(axis=1) / 
    data_analyst_df['weight_required_skills']
)

# Optional: Round the result to 2 decimal places
data_analyst_df['normalized_req_score'] = data_analyst_df['normalized_req_score'].round(1)

# Normalized preferred score

In [45]:
# Step 1: Identify all pref_*_score columns
pref_score_columns = [col for col in data_analyst_df.columns 
                     if col.startswith('pref_') and col.endswith('_score')]

# Step 2: Sum the pref_*_scores for each row and divide by weight_preferred_skills
data_analyst_df['normalized_pref_score'] = (
    data_analyst_df[pref_score_columns].sum(axis=1) / 
    data_analyst_df['weight_preferred_skills']
)

# Optional: Round the result to 2 decimal places
data_analyst_df['normalized_pref_score'] = data_analyst_df['normalized_pref_score'].round(1)

# Normalized Availability Score

In [46]:
import pandas as pd

df_staffing = pd.read_csv(r"C:\Users\hp\Documents\GitHub\HEC_DS_Challenge\Ashraf\Invert Months Processing\Input\HCK_HEC_STAFFING.csv")  

# Function to invert availability values (0 = available, 100 = unavailable)
def invert_availability_values(staffing_df: pd.DataFrame) -> pd.DataFrame:
    """
    Inverts the availability values in the month columns of the staffing DataFrame.
    Converts 0 to 100 (available) and 100 to 0 (unavailable), and inverts other values proportionally.

    Parameters:
        staffing_df (pd.DataFrame): The original staffing DataFrame with month columns.

    Returns:
        pd.DataFrame: The modified staffing DataFrame with inverted availability values.
    """
    # Define month columns (MONTH_1 to MONTH_12)
    month_cols = [f"MONTH_{i}" for i in range(1, 13)]

    # Invert values: 100 - current value for the month columns
    staffing_inverted = staffing_df.copy()
    staffing_inverted[month_cols] = 100 - staffing_inverted[month_cols]

    return staffing_inverted

# Function to save the inverted staffing DataFrame to CSV
def save_inverted_staffing_to_csv(staffing_inverted_df: pd.DataFrame, file_name: str = "staffing_inverted.csv"):
    """
    Saves the inverted staffing DataFrame to a CSV file.

    Parameters:
        staffing_inverted_df (pd.DataFrame): The modified staffing DataFrame.
        file_name (str): The name of the file to save the CSV as.
    """
    staffing_inverted_df.to_csv(file_name, index=False)
    print(f"Saved inverted staffing data to '{file_name}'.")

def add_availability_score_to_users(score_df: pd.DataFrame, selected_job: str) -> pd.DataFrame:
    import json
    import re
    import os
    os.chdir(r"C:\Users\hp\Documents\GitHub\HEC_DS_Challenge\Datasets\Outputs\Job_description_features")
    # === Step 1: Load job features JSON ===
    file_path = f"{selected_job.replace(' ', '_')}_features.json"
    try:
        with open(file_path, "r", encoding="utf-8") as f:
            features = json.load(f)
    except FileNotFoundError:
        raise FileNotFoundError(f"No JSON file found for job '{selected_job}'")

    # === Step 2: Extract duration from nested 'Additional Notes' ===
    notes_dict = features.get("Additional Notes", {})
    duration_text = str(notes_dict.get("Duration", ""))
    match = re.search(r"(\d+)\s*month", duration_text)
    duration = int(match.group(1)) if match else 0

    # === Step 3: Define scoring logic ===
    def check_availability_row(row, duration):
        values = row.tolist()
        max_score = 0
        for i in range(len(values) - duration + 1):
            window = values[i:i + duration]
            if all(v == 100 for v in window):
                return 100, "full block"
            elif 0 not in window:
                avg = sum(window) / duration
                max_score = max(max_score, avg)
        return max_score, "avg block" if max_score > 0 else "no block"

    # === Step 4: Score each user ===
    scores = []
    month_cols = [f"MONTH_{i}" for i in range(1, 13)]

    for user_id in score_df["USER_ID"]:
        staff_row = staffing_inverted[staffing_inverted["USER_ID"] == user_id]

        if staff_row.empty:
            scores.append(0)
            continue

        months = staff_row.iloc[0][month_cols]
        score, reason = check_availability_row(months, duration)
        scores.append(score)

    # === Step 5: Merge scores into final DataFrame ===
    result = score_df.copy()
    result["availability_score"] = scores

    return result

In [47]:
# Assuming HCK_HEC_STAFFING is already loaded
staffing_inverted = invert_availability_values(df_staffing)
score_df_Data_Engineer = add_availability_score_to_users(staffing_inverted, selected_job)

# Normalized Cosine similarity score

In [48]:
import pandas as pd

# Define the file path
file_path = r"C:\Users\hp\Documents\GitHub\HEC_DS_Challenge\Nehal\JSON Embedding and Matching\OUTPUTS\user_similarity_ranking.csv"

# Step 1: Read just the column names to check if 'user_rank' exists
columns_to_read = pd.read_csv(file_path, nrows=0).columns.tolist()

# Step 2: Remove 'user_rank' if it exists
if 'user_rank' in columns_to_read:
    columns_to_read.remove('user_rank')

# Step 3: Read the CSV again, excluding 'user_rank' if present
sim_df = pd.read_csv(file_path, usecols=columns_to_read)

# Convert similarity_score to percentage (0-100)
sim_df['similarity_score'] = sim_df['similarity_score'].apply(lambda x: round(x * 100,1))

# Normalized Experience Score

In [49]:
import json
import os

Users_Lang_Skills = pd.read_csv(r'C:\Users\hp\Documents\GitHub\HEC_DS_Challenge\Ashraf\Pivot Processing\Output\Users_Lang_Skills.csv')

def add_extracted_experience_score_to_users(score_df: pd.DataFrame, selected_job: str) -> pd.DataFrame:
    Users_Lang_Skills = pd.read_csv(r'C:\Users\hp\Documents\GitHub\HEC_DS_Challenge\Ashraf\Pivot Processing\Output\Users_Lang_Skills.csv')
    """
    Adds an 'experience_score' column to score_df based on the experience required
    for the selected job, loaded from a JSON features file.

    The scoring is binned:
        - ≥ required + 2 years → 100
        - > required + 2 to 4 → 70
        - > required + 4       → 50
        - == required          → 100
        - < required by ≤ 2    → 50
        - < required by 2–4    → 30
        - < required by >4     → 10
        - Missing experience   → 0
    """
    os.chdir(r"C:\Users\hp\Documents\GitHub\HEC_DS_Challenge\Datasets\Outputs\Job_description_features")
    # === Step 1: Load job features JSON ===
    file_path = f"{selected_job.replace(' ', '_')}_features.json"
    try:
        with open(file_path, "r", encoding="utf-8") as f:
            features = json.load(f)
    except FileNotFoundError:
        raise FileNotFoundError(f"No JSON file found for job '{selected_job}'")

    required_exp = features.get("Experience Required", 0)

    df = score_df.copy()

    def calculate_score(user_exp):
        if pd.isna(user_exp):
            return 0
        delta = user_exp - required_exp
        if delta >= 2:
            return 100
        elif 0 <= delta < 2:
            return 100
        elif -2 < delta < 0:
            return 50
        elif -4 < delta <= -2:
            return 30
        elif delta <= -4:
            return 10
        else:
            return 0

    # Map score using ANNEES_XP from Users_Lang_Skills
    experience_series = Users_Lang_Skills.set_index("USER_ID")["ANNEES_XP"]
    df = df.set_index("USER_ID")
    df["experience_score"] = experience_series.reindex(df.index).apply(calculate_score).fillna(0)

    return df.reset_index()

In [50]:
# Then add experience scores from JSON
score_df = add_extracted_experience_score_to_users(base_df, selected_job)

# Normalized Unmatched Score

In [51]:
import pandas as pd
# Assuming your DataFrame is named 'df'
columns = data_analyst_df.columns
list1 = [col.replace('req_', '').replace('_score', '').lower() for col in columns if col.startswith('req_')]
list2 = [col.replace('pref_', '').replace('_score', '').lower() for col in columns if col.startswith('pref_')]
weights_list = ['weight_required_skills', 'weight_preferred_skills','weight_language']
lang_list = [col for col in columns if col.startswith('lang_')] + ['weight_language']
exclude_columns_base = ['USER_ID','LAST_NAME','FIRST_NAME','ANNEES_XP','English_level','French_level']
unmatched_skills_cols =  [col for col in base_df.columns if col not in list1 + list2 + lang_list + weights_list + exclude_columns_base]

In [52]:
exclude_columns_1 = ['USER_ID']
unmatched_df = base_df[exclude_columns_1 + unmatched_skills_cols]
# Get all columns except excluded ones
columns_to_average = [col for col in unmatched_df.columns 
                     if col not in exclude_columns_1]

# Calculate average score (sum of remaining columns divided by count)
unmatched_df['unmatched_skills_score'] = unmatched_df[columns_to_average].sum(axis=1) / len(columns_to_average)

# Optional: Round to 2 decimal places
unmatched_df['unmatched_skills_score'] = unmatched_df['unmatched_skills_score'].round(1)

C:\Users\hp\AppData\Local\Temp\ipykernel_20068\3857539597.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unmatched_df['unmatched_skills_score'] = unmatched_df[columns_to_average].sum(axis=1) / len(columns_to_average)
C:\Users\hp\AppData\Local\Temp\ipykernel_20068\3857539597.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unmatched_df['unmatched_skills_score'] = unmatched_df['unmatched_skills_score'].round(1)

In [53]:
# Join availability_score first
data_analyst_df = pd.merge(
    data_analyst_df,
    score_df_Data_Engineer[['USER_ID', 'availability_score']],
    on='USER_ID',
    how='left'
)

# Then join similarity_score
data_analyst_df = pd.merge(
    data_analyst_df,
    sim_df[['USER_ID', 'similarity_score']],
    on='USER_ID',
    how='left'
)

# Finally join unmatched_skills_score
data_analyst_df = pd.merge(
    data_analyst_df,
    unmatched_df[['USER_ID', 'unmatched_skills_score']],
    on='USER_ID',
    how='left'
)

# Finally join experience_score
data_analyst_df = pd.merge(
    data_analyst_df,
    score_df[['USER_ID', 'experience_score']],
    on='USER_ID',
    how='left'
)
data_analyst_df.fillna(0, inplace=True)

# Calculating final Normalized score

In [54]:
def calculate_adaptive_weights(df):
    """Dynamic weights with new base distribution and conditional adjustments"""
    # Base weights (total = 0.65)
    base_weights = {
        'normalized_lang_score': 0.20,    # Language
        'experience_score': 0.25,         # Experience (new higher weight)
        'similarity_score': 0.15,         # Similarity
        'availability_score': 0.05        # Availability
    }
    
    # Skill weights (total = 0.35)
    skill_weights = {
        'normalized_req_score': 0.25,     # Required skills
        'normalized_pref_score': 0.10     # Preferred skills
    }
    
    # Detect available columns
    req_exists = 'normalized_req_score' in df.columns
    pref_exists = any(col.startswith('pref_') and col.endswith('_score') 
                     for col in df.columns)
    
    # Case 1: Both skill types exist
    if req_exists and pref_exists:
        weights = {**base_weights, **skill_weights}
    
    # Case 2: Only required skills exist
    elif req_exists and not pref_exists:
        weights = {**base_weights, 'normalized_req_score': 0.35}
    
    # Case 3: Only preferred skills exist (unlikely)
    elif pref_exists and not req_exists:
        weights = {**base_weights, 'normalized_pref_score': 0.35}
    
    # Case 4: No skill columns - redistribute
    else:
        weights = base_weights.copy()
        # Redistribute skill weight proportionally to base weights
        total_base = sum(base_weights.values())
        for k in weights:
            weights[k] += (0.35 * (base_weights[k]/total_base))
    
    # Final validation
    total = sum(weights.values())
    assert abs(total - 1.0) < 0.001, f"Invalid weight sum: {total}"
    
    return weights

# Calculate weights
adaptive_weights = calculate_adaptive_weights(data_analyst_df)

# Calculate candidate score (with safe column access)
score_components = {
    col: data_analyst_df[col] * weight 
    for col, weight in adaptive_weights.items() 
    if col in data_analyst_df.columns
}

data_analyst_df['Candidate_score'] = (
    sum(score_components.values())
).round(2)

# Show results
# print("Applied weights:", {k: round(v, 3) for k, v in adaptive_weights.items()})
result_cols = ['USER_ID', 'Candidate_score'] + list(adaptive_weights.keys())

In [55]:
data_analyst_df.sort_values(by='Candidate_score', ascending=False, inplace=True)
data_analyst_df = data_analyst_df[data_analyst_df['availability_score'] != 0]

# Saving the final file with scores

In [56]:
import os
from pathlib import Path

# Save with dynamic filename
output_dir = r"C:\Users\hp\Documents\GitHub\HEC_DS_Challenge\Datasets\Outputs\Final-output"
filename = f"candidates_scores_{selected_job.lower().replace(' ', '_')}.csv"
output_path = Path(output_dir) / filename

data_analyst_df.to_csv(output_path, index=False)
print(f"Saved candidate scores for {selected_job} to:\n{output_path}")

Saved candidate scores for Data Engineer to:
C:\Users\hp\Documents\GitHub\HEC_DS_Challenge\Datasets\Outputs\Final-output\candidates_scores_data_engineer.csv

In [ ]:
def calculate_adaptive_weights(df):
    """Dynamically adjust weights including experience_score"""
    # Base weights (total = 0.5)
    base_weights = {
        'normalized_lang_score': 0.15,    # 15%
        'availability_score': 0.05,       # 5%
        'similarity_score': 0.2,         # 20%
        'unmatched_skills_score': 0.05,  # 5%
        'experience_score': 0.05         # 5% (new)
    }
    
    # Skill weights (total = 0.5)
    skill_weights = {
        'normalized_req_score': 0.3,     # 30%
        'normalized_pref_score': 0.2     # 20%
    }
    
    # Detect available skill columns
    req_exists = 'normalized_req_score' in df.columns
    pref_exists = any(col.startswith('pref_') and col.endswith('_score') 
                  for col in df.columns)
    
    # Case 1: Both skill types exist
    if req_exists and pref_exists:
        weights = {**base_weights, **skill_weights}
    
    # Case 2: Only required skills exist
    elif req_exists and not pref_exists:
        weights = {**base_weights, 'normalized_req_score': 0.5}
    
    # Case 3: Only preferred skills exist
    elif pref_exists and not req_exists:
        weights = {**base_weights, 'normalized_pref_score': 0.5}
    
    # Case 4: No skill columns - redistribute
    else:
        weights = base_weights.copy()
        # Redistribute the 0.5 skill weight proportionally to other scores
        redistributed_weight = 0.5 / len(weights)
        for k in weights:
            weights[k] += redistributed_weight
    
    # Final validation
    total = sum(weights.values())
    assert abs(total - 1.0) < 0.001, f"Invalid weight sum: {total}"
    
    return weights

# Calculate weights
adaptive_weights = calculate_adaptive_weights(data_analyst_df)

# Calculate candidate score
score_components = {
    col: data_analyst_df[col] * adaptive_weights.get(col, 0)
    for col in adaptive_weights if col in data_analyst_df.columns
}

data_analyst_df['Candidate_score'] = sum(score_components.values()).round(2)

# Show results
print(f"Applied weights: {adaptive_weights}")
result_cols = ['USER_ID', 'Candidate_score'] + list(adaptive_weights.keys())
print(data_analyst_df[result_cols].head())

In [113]:
def calculate_adaptive_weights(df):
    """Dynamically adjust weights based on available score columns"""
    # Base weights (these will be adjusted)
    weights = {
        'normalized_lang_score': 0.2,
        'availability_score': 0.05,
        'similarity_score': 0.2,
        'unmatched_skills_score': 0.05
    }
    
    # Detect available skill columns
    req_exists = 'normalized_req_score' in df.columns
    pref_exists = any(col.startswith('pref_') and col.endswith('_score') 
                     for col in df.columns)
    
    # Case 1: Both skill types exist
    if req_exists and pref_exists:
        weights.update({
            'normalized_req_score': 0.3,
            'normalized_pref_score': 0.2
        })
    
    # Case 2: Only required skills exist
    elif req_exists and not pref_exists:
        weights['normalized_req_score'] = 0.5  # All skill weight goes here
    
    # Case 3: Only preferred skills exist (unlikely but possible)
    elif pref_exists and not req_exists:
        weights['normalized_pref_score'] = 0.5  # All skill weight goes here
    
    # Case 4: No skill columns - redistribute to similarity
    else:
        weights['similarity_score'] += 0.5  # Now 0.75 total
        # Ensure we remove any skill weights if they were somehow present
        weights.pop('normalized_req_score', None)
        weights.pop('normalized_pref_score', None)
    
    # Final validation
    total = sum(weights.values())
    assert abs(total - 1.0) < 0.001, f"Weights sum to {total} (should be 1.0)"
    
    return weights

# Calculate weights based on actual data
adaptive_weights = calculate_adaptive_weights(data_analyst_df)

# Calculate candidate score (with safe column access)
score_components = {
    'normalized_lang_score': 0,
    'normalized_req_score': 0,
    'normalized_pref_score': 0,
    'availability_score': 0,
    'similarity_score': 0,
    'unmatched_skills_score': 0
}

# Only use columns that exist in the DataFrame
for col in score_components:
    if col in data_analyst_df.columns:
        score_components[col] = data_analyst_df[col] * adaptive_weights.get(col, 0)

data_analyst_df['Candidate_score'] = (
    sum(score_components.values())
).round(2)

print(f"Adaptive weights applied: {adaptive_weights}")
print(data_analyst_df[['USER_ID', 'Candidate_score'] + 
      [col for col in adaptive_weights if col in data_analyst_df]].head())

Adaptive weights applied: {'normalized_lang_score': 0.2, 'availability_score': 0.05, 'similarity_score': 0.2, 'unmatched_skills_score': 0.05, 'normalized_req_score': 0.5}
   USER_ID  Candidate_score  normalized_lang_score  availability_score  \
0  2433136            71.77                  100.0                75.0
1  2540340            57.27                   88.0               100.0
2  2676328            65.10                   96.0                50.0
3  2433112            52.88                   92.0                97.5
4  2452725            61.55                  100.0                 0.0

   similarity_score  unmatched_skills_score  normalized_req_score
0              71.8                     6.1                  66.7
1             100.0                     4.4                  28.9
2              64.6                     9.6                  60.0
3              88.0                    18.0                  22.2
4              93.7                    12.2                  44.4

In [117]:
data_analyst_df.sort_values(by='Candidate_score', ascending=False, inplace=True)

In [118]:
data_analyst_df[['USER_ID','Candidate_score']]

     USER_ID  Candidate_score
0    2433136            71.77
2    2676328            65.10
4    2452725            61.55
8    2579999            58.97
1    2540340            57.27
..       ...              ...
114  2693756            10.16
116  2437177             9.30
112  2976032             8.34
117  2967233             4.75
118  2799951             3.75

[119 rows x 2 columns]

In [120]:
base_df[base_df['USER_ID'] == 2433136]

,USER_ID,LAST_NAME,FIRST_NAME,ANNEES_XP,airbyte,alteryx analytics hub,alteryx designer,amazon aws cloudformation,amazon aws glue,amazon quicksight,...,teradata vantage,terraform,vba,vena close,"vena solutions budgeting, planning & forecasting",workday adaptive planning,workiva,insightsoftware longview planning,English_level,French_level
91,2433136,Nielsen,Nancy,2.5,0.0,0.0,0.0,0.0,0.0,0.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0

In [ ]:
# Define weights for each score component (adjust these as needed)
weights = {
    'normalized_lang_score': 0.2,      # 20% weight
    'normalized_req_score': 0.3,       # 30% weight
    'normalized_pref_score': 0.15,     # 15% weight
    'availability_score': 0.05,         # 5% weight
    'similarity_score': 0.25,          # 20% weight
    'unmatched_skills_score': 0.05      # 5% weight
}

# Verify weights sum to 1 (100%)
assert abs(sum(weights.values()) - 1.0) < 0.001, "Weights must sum to 1"

# Calculate weighted candidate score
data_analyst_df['Candidate_score'] = (
    data_analyst_df['normalized_lang_score'] * weights['normalized_lang_score'] +
    data_analyst_df['normalized_req_score'] * weights['normalized_req_score'] +
    data_analyst_df['normalized_pref_score'] * weights['normalized_pref_score'] +
    data_analyst_df['availability_score'] * weights['availability_score'] +
    data_analyst_df['similarity_score'] * weights['similarity_score'] +
    data_analyst_df['unmatched_skills_score'] * weights['unmatched_skills_score']
)

# Optional: Round to 2 decimal places
data_analyst_df['Candidate_score'] = data_analyst_df['Candidate_score'].round(2)

# Show results
data_analyst_df[['USER_ID', 'Candidate_score'] + list(weights.keys())].head()

,USER_ID,Candidate_score,normalized_lang_score,normalized_req_score,normalized_pref_score,availability_score,similarity_score
0,2433136,65.46,100.0,66.7,0.0,75.0,71.8
1,2540340,61.27,88.0,28.9,0.0,100.0,100.0
2,2676328,58.35,96.0,60.0,0.0,50.0,64.6
3,2433112,56.81,92.0,22.2,0.0,97.5,88.0
4,2452725,56.74,100.0,44.4,0.0,0.0,93.7

In [83]:
data_analyst_df.sort_values(by='Candidate_score', ascending=False, inplace=True)

In [84]:
data_analyst_df.head(5)

,USER_ID,weight_required_skills,weight_preferred_skills,weight_language,req_R_score,req_Atlassian JIRA Software_score,req_Microsoft Power BI_score,lang_French_score,lang_English_score,normalized_lang_score,normalized_req_score,normalized_pref_score,availability_score,similarity_score,Candidate_score
91,2433136,9,0,5,200.0,200.0,200.0,300.0,200.0,100.0,66.7,0.0,75.0,71.8,65.46
76,2540340,9,0,5,40.0,100.0,120.0,300.0,140.0,88.0,28.9,0.0,100.0,100.0,61.27
85,2676328,9,0,5,160.0,200.0,180.0,300.0,180.0,96.0,60.0,0.0,50.0,64.6,58.35
96,2433112,9,0,5,0.0,120.0,80.0,300.0,160.0,92.0,22.2,0.0,97.5,88.0,56.81
24,2452725,9,0,5,200.0,0.0,200.0,300.0,200.0,100.0,44.4,0.0,0.0,93.7,56.74

In [85]:
data_analyst_df.to_csv(r"C:\Users\hp\Documents\GitHub\HEC_DS_Challenge\Datasets\Outputs\scrum_scores_scored.csv", index=False)

In [26]:
gh = pd.read_csv(r"C:\Users\hp\Documents\GitHub\HEC_DS_Challenge\Ashraf\Mapping\Output\Data_Analyst_scored.csv")

In [28]:
gh[gh['USER_ID'] == 2452725]

,USER_ID,LAST_NAME,Req_SQL_score,Req_Microsoft Power BI_score,Req_Databricks_score,english_score,french_score,experience_score,Pref_DAX_score,Pref_Microsoft Power BI_score,Pref_Matillion ETL_score,availability_score
24,2452725,Harris,100.0,100.0,100.0,100.0,100.0,30,0.0,100.0,0.0,0.0

In [326]:
score_df_Data_Engineer[['USER_ID','availability_score']].head(4)

   USER_ID  availability_score
0  2843838                 0.0
1  2479537                 0.0
2  2533337                75.0
3  2446382                72.5

In [247]:
unmatched_skills_cols = list(set(base_df.columns) - set(list1 + list2))
unmatched_skills_df = base_df[unmatched_skills_cols]

In [248]:
base_df.columns

Index(['USER_ID', 'LAST_NAME', 'FIRST_NAME', 'ANNEES_XP', 'airbyte',
       'alteryx analytics hub', 'alteryx designer',
       'amazon aws cloudformation', 'amazon aws glue', 'amazon quicksight',
       ...
       'teradata vantage', 'terraform', 'vba', 'vena close',
       'vena solutions budgeting, planning & forecasting',
       'workday adaptive planning', 'workiva',
       'insightsoftware longview planning', 'English_level', 'French_level'],
      dtype='object', length=139)

In [249]:
unmatched_skills_cols

['amazon quicksight',
 'oracle data integrator (odi)',
 'microsoft analytics platform system (ssas)',
 'azure purview',
 'matlab',
 'vba',
 'alteryx designer',
 'insightsoftware longview planning',
 'sas enterprise guide',
 'colibra',
 'rstudio team',
 'microsoft fabric',
 'sap crystal reports',
 'sap business planning and consolidation (sap bpc)',
 'project management',
 'mdx',
 'onestream conso',
 'spark',
 'microsoft azure synapse analytics',
 'google cloud dataproc',
 'talend open studio',
 'sap financial information management',
 'alteryx analytics hub',
 'sap bw',
 'tibco data science',
 'snowflake data cloud',
 'google bigquery',
 'javascript',
 'amazon web services',
 'ibm cognos tm1',
 'prophix planning',
 'terraform',
 'microstrategy',
 'hadoop',
 'cch tagetik cpm conso',
 'neo4j graph database',
 'microsoft sql server integration services (ssis)',
 'fivetran',
 'amazon aws glue',
 'oracle financial analytics',
 'cloudera enterprise data hub',
 'ibm cognos analytics',
 'microsoft sql server',
 'cloudera data warehouse',
 'domo',
 'microsoft sql server reporting services (ssrs)',
 'ibm spss statistics',
 'microsoft azure data factory',
 'atlassian jira software',
 'anaconda enterprise',
 'sap data services',
 'oracle hyperion financial management (hfm)',
 'microsoft azure',
 'prophix conso',
 'kubernetes',
 'oracle cloud epm',
 'USER_ID',
 'salesforce einstein analytics',
 'qlik sense',
 'fluence',
 'mongodb',
 'airbyte',
 'r',
 'sap disclosure management',
 'oracle business intelligence enterprise edition',
 'sas base',
 'applied olap dodeca',
 'rapidminer studio',
 'workday adaptive planning',
 'vena solutions budgeting, planning & forecasting',
 'teradata database',
 'amazon redshift',
 'denodo platform',
 'github enterprise',
 'LAST_NAME',
 'sap profitability and cost management',
 'informatica data quality (idq)',
 'oracle hyperion planning',
 'docker',
 'anaplan for finance',
 'oracle mysql',
 'cch tagetik cpm planning',
 'gitlab',
 'FIRST_NAME',
 't-sql',
 'English_level',
 'postgresql',
 'microsoft azure devops services',
 'microsoft azure data lake store',
 'python',
 'looker',
 'talend open studio for data quality',
 'microsoft azure sql database',
 'onestream planning',
 'data galaxy',
 'informatica powercenter',
 'talend platform for big data integration',
 'amazon aws cloudformation',
 'oracle analytics cloud',
 'dbt',
 'knime analytics platform',
 'microsoft azure machine learning',
 'qlik view',
 'snaplogic intelligent integration platform',
 'scala',
 'ANNEES_XP',
 'google data studio',
 'teradata vantage',
 'workiva',
 'atlassian bitbucket',
 'databricks lakehouse platform',
 'sap bw/4hana',
 'informatica intelligent cloud services',
 'sap financial consolidation',
 'vena close',
 'talend data fabric',
 'French_level',
 'google vertex ai',
 'ibm netezza performance server',
 'oracle hyperion essbase',
 'pl/sql',
 'tableau desktop and online',
 'gitlab ci',
 'oracle database',
 'ibm db2',
 'pentaho business analytics',
 'sap process control',
 'sap businessobjects bi',
 'ibm datastage',
 'dataiku',
 'java',
 'google cloud platform',
 'sap hana']

In [250]:
unmatched_skills_df

,amazon quicksight,oracle data integrator (odi),microsoft analytics platform system (ssas),azure purview,matlab,vba,alteryx designer,insightsoftware longview planning,sas enterprise guide,colibra,rstudio team,microsoft fabric,sap crystal reports,sap business planning and consolidation (sap bpc),project management,mdx,onestream conso,spark,microsoft azure synapse analytics,google cloud dataproc,talend open studio,sap financial information management,alteryx analytics hub,sap bw,tibco data science,snowflake data cloud,google bigquery,javascript,amazon web services,ibm cognos tm1,prophix planning,terraform,microstrategy,hadoop,cch tagetik cpm conso,neo4j graph database,microsoft sql server integration services (ssis),fivetran,amazon aws glue,oracle financial analytics,cloudera enterprise data hub,ibm cognos analytics,microsoft sql server,cloudera data warehouse,domo,microsoft sql server reporting services (ssrs),ibm spss statistics,microsoft azure data factory,atlassian jira software,anaconda enterprise,sap data services,oracle hyperion financial management (hfm),microsoft azure,prophix conso,kubernetes,oracle cloud epm,USER_ID,salesforce einstein analytics,qlik sense,fluence,mongodb,airbyte,r,sap disclosure management,oracle business intelligence enterprise edition,sas base,applied olap dodeca,rapidminer studio,workday adaptive planning,"vena solutions budgeting, planning & forecasting",teradata database,amazon redshift,denodo platform,github enterprise,LAST_NAME,sap profitability and cost management,informatica data quality (idq),oracle hyperion planning,docker,anaplan for finance,oracle mysql,cch tagetik cpm planning,gitlab,FIRST_NAME,t-sql,English_level,postgresql,microsoft azure devops services,microsoft azure data lake store,python,looker,talend open studio for data quality,microsoft azure sql database,onestream planning,data galaxy,informatica powercenter,talend platform for big data integration,amazon aws cloudformation,oracle analytics cloud,dbt,knime analytics platform,microsoft azure machine learning,qlik view,snaplogic intelligent integration platform,scala,ANNEES_XP,google data studio,teradata vantage,workiva,atlassian bitbucket,databricks lakehouse platform,sap bw/4hana,informatica intelligent cloud services,sap financial consolidation,vena close,talend data fabric,French_level,google vertex ai,ibm netezza performance server,oracle hyperion essbase,pl/sql,tableau desktop and online,gitlab ci,oracle database,ibm db2,pentaho business analytics,sap process control,sap businessobjects bi,ibm datastage,dataiku,java,google cloud platform,sap hana
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2843838,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Ramos,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,David,0.0,100.0,0.0,0.0,0.0,80.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40.0,0.0,0.0,0.0,80.0,2479537,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,80.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Small,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,Carl,0.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60.0,0.0,0.0
2,0.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2533337,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Evans,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40.0,Carmen,0.0,50.0,0.0,0.0,0.0,40.0,0.0,20.0,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,0.0,0.0
3,0.0,0.0,60.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60.0,0.0,0.0,0.0,0.0,60.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60.0,0.0,0.0,0.0,0.0,0.0,60.0,0.0,0.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2446382,0.0,0.0,0.0,0.0,0.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Pittman,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brandi,0.0,60.0,0.0,0.0,0.0,60.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,60.0,0.0,0.0,0.0,0.0,0.0,50.0,0.0,0.0,40.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2433124,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Thomas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Julie,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2713733,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Williams,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Raymond,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,80.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
115,0.0,0.0,50.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,80.0,0.0,0.0,0.0,0.0,2456947,0.0,0.0,0.0,0.0,0.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,40.0,0.0,0.0,0.0,0.0,Riddle,0.0,0.0,100.0,0.0,0.0,100.0,80.0,0.0,Karen,0.0,100.0,0.0,0.0,0.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,100.0,0.0,0.0,90.0,0.0,0.0,0.0,0.0,80.0,0.0,0.0,0.0,0.0,0.0,50.0,0.0,0.0
116,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2447672,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Gonzalez,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Diana,0.0,80.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
117,0.0,0.0,0.0,60.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0,0.0,0.0,0.0,0.0,0.0,60.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,80.0,80.0,0.0,0.0,0.0,70.0,0.0,0.0,0.0,2789547,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Williams,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brian,0.0,70.0,0.0,0.0,0.0,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0,1.0,0.0,0.0,0.0,0.0,80.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0,40.0,0.0
118,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2920938,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Martinez,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Nancy,0.0,80.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [170]:
skills_df = pd.read_csv(r"C:\Users\hp\Documents\GitHub\HEC_DS_Challenge\Datasets\Bronze\HCK_HEC_SKILLS.csv")

In [173]:
skills_df['DOMAIN_DSC'].unique()

array(['Data Platform', 'Data Science', 'Data Governance',
       'Data Analytics', 'Agile Delivery', 'Data Management',
       'Financial Close', 'Financial Planning and Analysis',
       'Programming Language', 'Data Integration'], dtype=object)

In [175]:
skills_df[skills_df['DOMAIN_DSC'] == 'Agile Delivery']

      USER_ID                       SKILLS_DSC      DOMAIN_DSC  LEVEL_VAL
701   2836571          Atlassian JIRA Software  Agile Delivery       50.0
702   2836571  Microsoft Azure DevOps Services  Agile Delivery       50.0
703   2836571          Atlassian JIRA Software  Agile Delivery       50.0
704   2836571  Microsoft Azure DevOps Services  Agile Delivery       50.0
705   2836571          Atlassian JIRA Software  Agile Delivery       50.0
...       ...                              ...             ...        ...
3399  2977311          Atlassian JIRA Software  Agile Delivery        NaN
3400  2977311               Project Management  Agile Delivery        NaN
3401  2977311          Atlassian JIRA Software  Agile Delivery        NaN
3402  2903451               Project Management  Agile Delivery        NaN
3403  2903451          Atlassian JIRA Software  Agile Delivery        NaN

[365 rows x 4 columns]

In [ ]:
candidate_technical_scores_df['USER_ID']

,USER_ID,LAST_NAME,french_score,english_score,experience_score,availability_score
0,2843838,Ramos,100.0,100.0,30,100
1,2479537,Small,100.0,90.0,50,100
2,2533337,Evans,100.0,50.0,50,100
3,2446382,Pittman,100.0,60.0,50,100
4,2433124,Thomas,100.0,100.0,50,100
...,...,...,...,...,...,...
114,2713733,Williams,80.0,100.0,50,100
115,2456947,Riddle,100.0,100.0,50,100
116,2447672,Gonzalez,100.0,80.0,50,100
117,2789547,Williams,100.0,70.0,30,100
118,2920938,Martinez,0.0,80.0,30,100

In [ ]:
skills_df[skills_df['USER_ID'] == 2843838]

,USER_ID,SKILLS_DSC,DOMAIN_DSC,LEVEL_VAL
525,2479537,Oracle Analytics Cloud,Data Analytics,60.0
1600,2479537,Oracle Hyperion Financial Management (HFM),Financial Close,40.0
1676,2479537,Oracle Hyperion Planning,Financial Planning and Analysis,100.0
1677,2479537,Applied OLAP Dodeca,Financial Planning and Analysis,80.0
1678,2479537,Oracle Cloud EPM,Financial Planning and Analysis,80.0
1679,2479537,Oracle Hyperion Essbase,Financial Planning and Analysis,100.0
2023,2479537,Java,Programming Language,60.0
2024,2479537,VBA,Programming Language,100.0

In [171]:
skills_df['SKILLS_DSC'].unique()

array(['Snowflake Data Cloud', 'Microsoft Azure', 'Amazon Web Services',
       'Google Cloud Platform', 'Databricks Lakehouse Platform',
       'Microsoft Fabric', 'KNIME Analytics Platform', 'SAS Base',
       'Databricks', 'RStudio Team', 'Dataiku', 'IBM SPSS Statistics',
       'Microsoft Azure Machine Learning', 'Anaconda Enterprise',
       'Matlab', 'Google Vertex AI', 'TIBCO Data Science',
       'RapidMiner Studio', 'Data Galaxy', 'Azure Purview',
       'Tableau Desktop and Online', 'Microsoft Power BI',
       'Amazon QuickSight', 'Google Data Studio', 'Looker',
       'Microstrategy', 'Qlik View',
       'Microsoft SQL Server Reporting Services (SSRS)',
       'Salesforce Einstein Analytics', 'Qlik Sense',
       'Oracle Business Intelligence Enterprise Edition',
       'IBM Cognos Analytics', 'Alteryx Analytics Hub',
       'SAP BusinessObjects BI', 'Oracle Analytics Cloud',
       'SAS Enterprise Guide', 'SAP Crystal Reports',
       'Pentaho Business Analytics', 'Domo', 'Atlassian JIRA Software',
       'Microsoft Azure DevOps Services', 'Terraform',
       'Amazon AWS CloudFormation', 'Project Management',
       'GitHub Enterprise', 'Docker', 'GitLab CI', 'GitLab',
       'Atlassian Bitbucket',
       'Microsoft Analytics Platform System (SSAS)',
       'Microsoft SQL Server', 'Microsoft Azure Data Lake Store',
       'Microsoft Azure SQL Database',
       'Microsoft Azure Synapse Analytics',
       'Cloudera Enterprise Data Hub', 'SAP BW',
       'Cloudera Data Warehouse', 'Google BigQuery', 'Amazon Redshift',
       'Google Cloud DataProc', 'Oracle MySQL', 'Oracle Database',
       'PostgreSQL', 'SAP BW/4HANA', 'SAP HANA', 'Teradata Database',
       'Teradata Vantage', 'IBM Db2', 'Cloudera Data Platform', 'Hadoop',
       'MongoDB', 'Neo4j Graph Database',
       'Oracle Hyperion Financial Management (HFM)',
       'SAP Business Planning and Consolidation (SAP BPC)', 'Fluence',
       'OneStream Conso', 'Prophix Conso', 'Vena Close', 'Workiva',
       'CCH Tagetik CPM Conso', 'Oracle Financial Analytics',
       'SAP Disclosure Management', 'SAP Financial Consolidation',
       'SAP Financial Information Management', 'SAP Process Control',
       'SAP Profitability and Cost Management', 'Oracle Cloud EPM',
       'Oracle Hyperion Essbase', 'Oracle Hyperion Planning',
       'Applied OLAP Dodeca', 'CCH Tagetik CPM Planning',
       'OneStream Planning', 'Anaplan for Finance',
       'insightsoftware Longview Planning', 'Prophix Planning',
       'Vena Solutions Budgeting, Planning & Forecasting',
       'Workday Adaptive Planning', 'IBM Cognos TM1', 'PL/SQL', 'Python',
       'R', 'SQL', 'VBA', 'DAX', 'Java', 'Javascript', 'T-SQL', 'Scala',
       'MDX', 'IBM Netezza Performance Server', 'DBT',
       'Informatica PowerCenter', 'Matillion ETL',
       'Microsoft Azure Data Factory',
       'Microsoft SQL Server Integration Services (SSIS)', 'Spark',
       'Fivetran', 'Denodo Platform', 'Airbyte', 'IBM DataStage',
       'Informatica Intelligent Cloud Services',
       'SnapLogic Intelligent Integration Platform', 'Amazon AWS Glue',
       'Oracle Data Integrator (ODI)', 'Talend Data Fabric',
       'Talend Open Studio', 'SAP Data Services', 'Alteryx Designer',
       'Kubernetes', 'Talend Platform for Big Data Integration',
       'Colibra', 'Informatica Data Quality (IDQ)',
       'Talend Open Studio for Data Quality'], dtype=object)

In [180]:
skills_df[skills_df['DOMAIN_DSC'] == 'Agile Delivery']

      USER_ID                       SKILLS_DSC      DOMAIN_DSC  LEVEL_VAL
701   2836571          Atlassian JIRA Software  Agile Delivery       50.0
702   2836571  Microsoft Azure DevOps Services  Agile Delivery       50.0
703   2836571          Atlassian JIRA Software  Agile Delivery       50.0
704   2836571  Microsoft Azure DevOps Services  Agile Delivery       50.0
705   2836571          Atlassian JIRA Software  Agile Delivery       50.0
...       ...                              ...             ...        ...
3399  2977311          Atlassian JIRA Software  Agile Delivery        NaN
3400  2977311               Project Management  Agile Delivery        NaN
3401  2977311          Atlassian JIRA Software  Agile Delivery        NaN
3402  2903451               Project Management  Agile Delivery        NaN
3403  2903451          Atlassian JIRA Software  Agile Delivery        NaN

[365 rows x 4 columns]

In [190]:
skills_df['DOMAIN_DSC'].unique()

array(['Data Platform', 'Data Science', 'Data Governance',
       'Data Analytics', 'Agile Delivery', 'Data Management',
       'Financial Close', 'Financial Planning and Analysis',
       'Programming Language', 'Data Integration'], dtype=object)

In [188]:
from fuzzywuzzy import process

def match_skills(list1: list, list2: list, threshold: int = 85) -> dict:
    """
    Fuzzy matches skills between two lists and returns matches with scores ≥ threshold.
    
    Args:
        list1 (list): Source skills to match FROM (e.g., user skills)
        list2 (list): Target skills to match TO (e.g., required skills)
        threshold (int): Minimum match score (0-100)
    
    Returns:
        dict: { "source_skill": ("matched_skill", score) }
    """
    matches = {}
    for skill in list1:
        match, score = process.extractOne(skill, list2)
        if score >= threshold:
            matches[skill] = (match, score)
    return matches

In [ ]:
required_skills = skills_df[skills_df['DOMAIN_DSC'] == 'Agile Delivery']['SKILLS_DSC'].unique()

In [189]:
matches = match_skills(all_skills, required_skills)
print(matches)

{'Jira': ('Atlassian JIRA Software', 90), 'Microsoft Teams': ('Microsoft Azure DevOps Services', 86), 'Jira Dashboards': ('Atlassian JIRA Software', 86)}

In [186]:
# Extract all skills from the JSON file
def extract_all_skills(job_data):
    required_skills = [skill['skill'] for skill in job_data.get('Required Skills', [])]
    preferred_skills = [skill['skill'] for skill in job_data.get('Preferred Skills', [])]
    all_skills = required_skills + preferred_skills
    return all_skills

# Get all skills from job_requirements_data
all_skills = extract_all_skills(job_requirements_data)
print("All Skills:", all_skills)

All Skills: ['Scrum', 'Kanban', 'Lean', 'Agile Methodologies', 'Jira', 'Confluence', 'Microsoft Teams', 'Slack', 'Miro', 'Jira Dashboards', 'Power BI', 'Advanced Excel', 'SAFe']

In [179]:
job_requirements_data

{'Job Title': 'Scrum Master',
 'Required Skills': [{'skill': 'Scrum', 'level': 3},
  {'skill': 'Kanban', 'level': 2},
  {'skill': 'Lean', 'level': 2},
  {'skill': 'Agile Methodologies', 'level': 2},
  {'skill': 'Jira', 'level': 2},
  {'skill': 'Confluence', 'level': 2},
  {'skill': 'Microsoft Teams', 'level': 2},
  {'skill': 'Slack', 'level': 2},
  {'skill': 'Miro', 'level': 2},
  {'skill': 'Jira Dashboards', 'level': 2},
  {'skill': 'Power BI', 'level': 2},
  {'skill': 'Advanced Excel', 'level': 2}],
 'Preferred Skills': [{'skill': 'SAFe', 'level': 1}],
 'Experience Required': 3.0,
 'Languages': [{'language': 'French', 'level': 3},
  {'language': 'English', 'level': 2}],
 'Responsibilities': ['Establish and maintain an effective agile framework for collective performance.',
  'Facilitate all scrum ceremonies (daily scrum, sprint planning, sprint review, retrospective, refinement).',
  'Proactively manage obstacles to ensure smooth delivery.',
  'Support the team in developing autonomy and self-organization.',
  'Act as an agile coach, guiding the team and stakeholders in understanding and applying agile values, principles, and practices.',
  'Promote a culture of collaboration and continuous improvement.',
  'Assist the product owner in effectively managing the product backlog, defining priorities, and maximizing delivered value.',
  'Measure and analyze team performance using key indicators (velocity, burndown charts, lead time, etc.) with appropriate tools.',
  'Protect the team from external interference and maintain a peaceful working environment.'],
 'Location': 'Montreal',
 'Salary': '',
 'Additional Notes': {'Duration': '12 months',
  'Type': 'Contract',
  'Mode of work': ''}}